<h1>Name: <%= @task[:name] %></h1>
<h2>Deadline: <%= @task[:deadline] %></h2>
<h2>Done: <%= @task[:status] %></h2>
<p>Created on: <%= @task[:created_at] %></p>
<p>Updated on: <%= @task[:updated_at] %></p>

<%= link_to "Go back to overview", tasks_path %>
